* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111111;
}



/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0px 20px;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
  text-shadow: 0.4px 0 currentColor, -0.4px 0 currentColor;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}



/* Main */

main {
  margin-top: 75px;
  width: 100%;
  height: calc(100vh - 75px);
}



/* Player input */

#PlayerInput {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

#PlayerInputBox {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.PlayInputText {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#PlayNumInput {
  width: 50%;
  height: 20%;
}

#PlayNumConfirm {
  width: 75%;
  height: 10%;
}


/* Player List */

#PlayerList {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 30px;
  justify-content: center;
  align-items: center;
}



/* 1 Player Cards */

.player-card {
  width: 300px;
  aspect-ratio: 3/4;
  padding: 1rem;
  background: #ffcebb;
  border: 1px solid #ffbfa6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 0.5rem;
}



/* 2 Player Name */

.player-name {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1.5rem;
  padding: 0.4rem;
  font-weight: bold;
  color: black;
}
.player-name:focus {
  outline: 1px solid #0f0f0f;
}



/* 3 Player Status */

.player-status {
  width: 50%;
  height: 10%;
  background: rgba(100, 100, 100, 0.4);
  border: 1px solid #0f0f0f;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}



/* 4 Player Role */

.player-role {
  width: 140px;
  padding: 0.5rem;
  background: rgba(100, 100, 100, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: black;
}

.role-selection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.role-icon {
  width: 50px;
  height: 50px;
}


/* 5 Player Notes */

.player-notes {
  width: 100%;
  flex: 1;
  resize: none;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
  padding: 0.75rem;
  font-size: 1rem;
}
.player-notes:focus {
  outline: none;
  border-color: #0f0f0f ;
}