body {
  margin: 0;
  padding: 0;
  background-color: black;
  margin-top: 10vh
}

/* COMING SOON */
#COMING-SOON-CONT {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#COMING-SOON-CONT h2 {
    color: white;
    border: yellow dashed;
    border-width: 1px 0 1px 0;
    width: 100%;
    text-align: center;
    padding: 1rem
}

/* TERMS OF SERVICE */
#TOS, #PRIVPOL {
    width: 95vw;
    height: 80vh;
    border: rgb(135, 135, 135) 2px dashed;
    background-color: rgb(28, 28, 28);
    color: white;
    border-radius: 2rem;
    justify-self: center;
    text-align: center;
    margin: 1rem 0;
}

#TOS h2, #PRIVPOL h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 0 0 0;
    font-size: clamp(2rem, 10vw, 4rem);
}
