body {
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0px 20px;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

 #landing {
  margin: 100px;
  color: #79fa4e;
}

#comp {
  width: 100%;
}

input[type=text], type[input=text]:focus {
  width: 80%;
  background-color: transparent;
  caret-shape: underscore;
  border: none;
  outline: none;
}

label, input[type=text] {
  color:#79fa4e;
  font-family: monospace;
}


