body {
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  margin-top: 10vh
}

/* MAIN CONTENT */

 #landing {
  margin: 5%;
  color: #79fa4e;
}

#crt {
  width: 100%;
  border-radius: 1rem;
  user-select: none;
}

.comp {
  position: relative;
  width: 75%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form {
  position: absolute;
  top: 10%;
  left: 7.4%;
  width: 85.2%;
  height: 68.3%;
  scrollbar-gutter: stable;
}

input, textarea, input:focus, span {
  background-color: transparent;
  caret-shape: underscore;
  border: none;
  outline: none;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  overflow-y: hidden;
  transition: height 0.1s ease; 
  min-height: 2.5rem;
}

label, input, textarea, p:not(.footer-credits) {
  font-family: monospace;
  font-size: .9rem;
}

.green{ color:#79fa4e } 
label, input, #int, textarea, .green {
    color:#79fa4e;
} 

#err { width: 100%; }

.red { color:#f35050 }

.hide { display: none }

.show { display: block }

.hologram {
  overflow-x: clip;
  overflow-y: auto;
  height: 100%;
}

.hologram::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(rgba(0, 225, 49, 0.1) 0px, rgba(0, 196, 13, 0.1) 1px, transparent 1px, transparent 1.5%);
  pointer-events: none;
  opacity: 0.5;
  animation: scanlines 0.25s linear infinite;
}

@keyframes scanlines {
  from {transform: translateY(0);}
  to {transform: translateY(1.5%);}
}
