body {
    background: rgb(19, 19, 19);
    background-size: cover;
    margin: 0;
    width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

header > h1, section > h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

main {
    overflow: hidden;
    transition: all ease-in-out 0.3s
}

body:has(#FOLDER-OPENED-CONTAINER.opened) header,
body:has(#FOLDER-OPENED-CONTAINER.opened) main,
body:has(#FOLDER-OPENED-CONTAINER.opened) footer {
    filter: brightness(0.4);
}

body:has(#FOLDER-OPENED-CONTAINER.opened) {
    overflow: hidden;
}

/* HEADER STYLE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0px 20px;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* BANNER STYLE */
#M4FIA-BANNER {
    position: relative;
}

#M4FIA-BANNER-VIDEO {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    box-shadow: 0px 9px 24px 7px rgba(0,0,0,0.88);
}

#M4FIA-BANNER-TEXT {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    animation: flicker 2s;
}

/* INFORMATION STYLE */
#M4FIA-INFORMATION {
    box-sizing: content-box;
    margin-top: 5rem;
    padding: 2rem;
    height: fit-content;
    text-align: center;
}

#M4FIA-INFORMATION-TITLE {
    font-size: 3rem;
}

#M4FIA-INFORMATION-TITLE.flicker {
    animation: flicker 2s;
}

#FOLDER-SECTION {
    display: grid;
    grid-template-columns: 50% 50%;
}

    /* FOLDERS */
    .folder {
        position: relative;
        height: 83vh;
        aspect-ratio: 1/1.25;
        margin: 2rem;
        border-radius: 0.7rem;
        box-shadow: 8px 6px 80px 3px rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(2);
        perspective: 800px;
        transition: transform 0.5s ease, opacity 0.3s ease;
    }

    .folder .back {
        position: absolute;
        background-color: rgb(153, 97, 60);
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .folder .inside-1 {
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: 8px 6px 21px 3px rgba(0,0,0,0.3);
        width: 95%;
        height: auto;
        aspect-ratio: 1/1.25;
        top: 2%;
        left: 4%;
        rotate: 3deg;
        z-index: 1;
        transition: all 0.3s ease;
    }

    .folder .inside-2 {
        position: absolute;
        background-color: white;
        box-shadow: 8px 6px 21px 3px rgba(0,0,0,0.3);
        width: 95%;
        height: auto;
        aspect-ratio: 1 / 1.25;
        top: 2%;
        left: 3%;
        rotate: 1deg;
        z-index: 1;
        transition: all 0.3s ease;
    }
    
    .folder .front {
        position: absolute;
        background-color: rgb(192, 126, 83);
        width: 92%;
        height: 100%;
        border-radius: inherit;
        z-index: 2;
        transform-origin: left center;
        transition: all 0.3s ease;
        transform-style: preserve-3d;
    }

    .front > * {
        backface-visibility: hidden;
    }

    .folder .front::after {
        content: " ";
        background-color: rgb(192, 126, 83);
        position: absolute;
        bottom: 0;
        right: -6.5%;
        width: 25%;
        height: 50%;
        border-radius: inherit;
        z-index: 2;
    }
    
    body:not(:has(#FOLDER-OPENED-CONTAINER.open)) .folder:hover .inside-2{
        transform: translateX(3%) translateY(2%) rotate(2deg);
    }

    body:not(:has(#FOLDER-OPENED-CONTAINER.open)) .folder:hover .inside-1 {
        transform: translateX(4.5%) translateY(2.3%) rotate(5deg);
    }

    body:not(:has(#FOLDER-OPENED-CONTAINER.open)) .folder:hover .front {
        transform: rotateY(-5deg);
    }

    /* FOLDER TEXT */
    .front {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .front .horizontal-rule {
        height: 0.5vh;
        width: 85%;
        background-color: rgb(0, 0, 0);
        align-self: center
    }
    
    .front p {
        color: black;
        font-weight: bold;
    }

    .front p:first-of-type {
        margin: 3rem 1rem 2rem 1rem;
        font-size: 1.7vw;
    }

    .front p:nth-of-type(2) {
        margin: 1rem 0 1rem 0;
        font-size: large;
    }

    .front p:last-of-type {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 1%;
        font-size: small;
    }


    .front h3 {
        position: absolute;
        font-size: 4.5vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        color: rgb(204, 36, 36);
        border: rgb(204, 36, 36) dashed 5px;
        box-sizing: content-box;
        padding-left: 2rem;
        padding-right: 2rem;
        rotate:-7deg
    }


    /* INDIVUDAL FOLDERS */
    body:not(:has(#FOLDER-OPENED-CONTAINER.open)) .folder:hover {
        box-shadow: 0px 0px 25px 10px rgba(255,255,255,0.6);
        z-index: 99;
        cursor: pointer
    }

    #FOLDER-RULES {
        rotate: -3deg;
        left: 35%;
        z-index: 1;
    }

    #FOLDER-LORE {
        left: -10%;
        rotate: 5deg
    }

    /* FOLDER SCROLL ANIMATION */
    .lore.slam {
        transition-delay: 0s;
    }

    .rules.slam {
        transition-delay: 0.3s;
    }

    .folder.slam {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    /* FOLDER OPEN */
    #FOLDER-OPENED-CONTAINER {
        width: 100vw;
        height: 100vh;
        z-index: 199;
        position: fixed;
        pointer-events: none;
        display: flex;
        justify-content: center;
    }

    #FOLDER-OPEN-RETURN-BTN {
        all: unset;
        position: absolute;
        width: 11vw;
        aspect-ratio: 3/1;
        bottom: 3vh;
        right: 2vw;
        border-radius: 0.6rem;
        box-sizing: content-box;
        opacity: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    #NEXT-PAGE, #PREV-PAGE {
        all: unset;
        position: absolute;
        background: rgb(27, 27, 27);
        color: white;
        align-self: center;
        font-size: 4rem;
        padding: 0.2rem 0.5rem;
        aspect-ratio: 1/1;
        border-radius: 99rem;
        z-index: 99;
        outline: 1px solid rgba(255, 255, 255, 0.5);
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;
    }

    #NEXT-PAGE {
        right: 15%;
    }

    #PREV-PAGE {
        left: 15%;
    }

    .page {
        box-sizing: border-box;
        padding: 0 1rem 0 1rem;
        width: 100%;
        aspect-ratio: 1/1.25;
        background-color: white;
        text-align: justify;
        overflow-y: auto;
        opacity: 0;
        color: black;
        transition: opacity 0.7s ease-in-out
    }

    #NEXT-PAGE.hide,
    #PREV-PAGE.hide {
        opacity: 0;
    }

    #NEXT-PAGE.show,
    #PREV-PAGE.show {
        opacity: 0.5;
    }

    #NEXT-PAGE:hover,
    #PREV-PAGE:hover {
        outline: 1px solid rgba(255, 255, 255, 0.75);
        opacity: 0.7;
        cursor: pointer
    }

    .page.visible {
        opacity: 1;
    }

    #FOLDER-OPEN-RETURN-BTN::before {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        background-color: rgba(255, 255, 255, 0.5);
        filter: blur(5px);
        z-index: -1;
        border-radius: inherit;
        transition: outline 0.5s ease;
    }

     #FOLDER-OPEN-RETURN-BTN::after {
        content: " ";
        position: absolute;
        background: rgb(27, 27, 27);
        border-radius: inherit;
        outline: 1px solid rgba(255, 255, 255, 0.5);
        transition: outline 0.5s ease;
        inset: 0.1rem;
     }

    #FOLDER-OPEN-RETURN-BTN p {
        font-size: 1.3em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        margin: 0;
        z-index: 1
    }

    #FOLDER-OPEN-RETURN-BTN:hover::after {
        outline: 1px solid rgba(255, 255, 255, 0.75);
    }

    #FOLDER-OPEN-RETURN-BTN:hover::before {
        width: 120%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.75);
        animation: returnBtnHover 2s linear infinite;
    }

    #FOLDER-OPEN-RETURN-BTN.show {
        opacity: 0.5;
    }

    #FOLDER-OPEN-RETURN-BTN.hide {
        opacity: 0;
    }

    #FOLDER-OPEN-RETURN-BTN.show:hover {
        opacity: 0.75;
        cursor: pointer;
        border: none;
    }

    .rules .front.open,
    .lore .front.open {
        animation: openFolder 1s ease forwards;
    }

    .rules .front.close,
    .lore .front.close  {
        animation: closeFolder 1s ease forwards;
    }

    .rules .front.open > .inside-1:hover {
        scale: 2
    }

/* CARD CATALOG STYLE */
#M4FIA-ROLES-CATALOG {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    width: 95vw;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* ANIMATIONS */
@keyframes flicker {
    0% { opacity: 0; }
    5% { opacity: 0.2; }
    10% { opacity: 0.9; }
    15% { opacity: 0.1; }
    20% { opacity: 1; }
    25% { opacity: 0.3; }
    30% { opacity: 1; }
}

@keyframes openFolder {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-180deg);
    }
}

@keyframes closeFolder {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes returnBtnHover {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}