html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  box-sizing: border-box;
}

body {
    padding-top: 5rem;
    background: rgb(19, 19, 19);
    background-size: cover;
    margin: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 2rem
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0px 20px;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
  text-shadow: 0.4px 0 currentColor, -0.4px 0 currentColor;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LANDING */
#LANDING-SECTION {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 2rem 0
}

#LANDING-SECTION > h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(3rem, 5vw, 4rem);
    margin: 1rem 0.7rem 3rem 0.7rem;
    text-align: center;
}

    /* SEARCH INPUT */
    #SEARCH {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search-input {
        all: unset;
        padding: 1rem;
        width: clamp(15rem, 75vw, 50rem);
        margin: 0;
        border-radius: 1rem;
        background-color: rgb(75, 75, 75);
        color: white
    }

    /* FILTERS */
    #FILTERS-CONT {
        all: unset;
        width: fit-content;
        margin: 1rem auto 0 auto;
        justify-self: center;
        display: flex;
        gap: 1rem;
    }

    #FILTERS-CONT li {
        all: unset;
    }

    .filter-label {
        display: inline-block;
        padding: 1rem;
        border-radius: 50vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        transition: all 0.2s ease-in-out;
    }

    .filter-label:hover {
        cursor: pointer
    }

    #REMCB-LABEL { background-color: #0cd2ff37; border: #10d3ff 3px solid; }
    #REMCB-LABEL:hover { background-color: #0cd2ff78 }
    #FILTERS-CONT:has(#REMNANTS-FILTER-CHECKBOX:checked) #REMCB-LABEL { background-color: #0cd2ffae }

    #SYNCB-LABEL { background-color: #ff0c0c37; border: #e62828 3px solid; }
    #SYNCB-LABEL:hover { background-color: #ff0c0c78 }
    #FILTERS-CONT:has(#SYNDICATE-FILTER-CHECKBOX:checked) #SYNCB-LABEL { background-color: #ff0c0cae }

    #NULLCB-LABEL { background-color: #e7e7e737; border: #ffffff 3px solid; }
    #NULLCB-LABEL:hover { background-color: #e7e7e778 }
    #FILTERS-CONT:has(#NULL-FILTER-CHECKBOX:checked) #NULLCB-LABEL { background-color: #e7e7e7d8 }

    main:has(input[type="checkbox"]:checked) .faction-section,
    input[type="checkbox"] { display: none }

    main:has(#REMNANTS-FILTER-CHECKBOX:checked) #REMNANTS-SECTION { display: block;}
    main:has(#SYNDICATE-FILTER-CHECKBOX:checked) #SYNDICATE-SECTION { display: block;}
    main:has(#NULL-FILTER-CHECKBOX:checked) #NULL-SECTION { display: block;}

    /* SEARCH RESULTS */
    main:has(#SEARCH:not(:placeholder-shown)) #SEARCH-RESULTS-SECTION { 
        display: block;
        width: 95vw;
        box-sizing: border-box;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    main:has(#SEARCH:has(:placeholder-shown)) #SEARCH-RESULTS-SECTION { display: none; }

    #SEARCH-RESULTS-SECTION .card-overlay {
        all: unset;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        z-index: 20;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        top: 0;
        left: 0;
    }

    #SEARCH-RESULTS-SECTION .card.remnant .card-overlay {
        background-image: linear-gradient(
            to top, 
            rgb(12, 170, 255) 3%, 
            rgba(12, 170, 255, 0.9) 5%,
            rgba(12, 170, 255, 0.8) 10%,
            rgba(12, 170, 255, 0.7) 15%,
            rgba(12, 170, 255, 0.6) 20%,
            rgba(12, 170, 255, 0.5) 25%,
            rgba(12, 170, 255, 0.4) 30%,
            rgba(12, 170, 255, 0.3) 35%,
            rgba(12, 170, 255, 0.2) 40%,
            rgba(12, 170, 255, 0.1) 50%,
            rgba(12, 170, 255, 0) 60%
        );
    }

    #SEARCH-RESULTS-SECTION .card.syndicate .card-overlay {
        background-image: linear-gradient(
            to top, 
            rgb(255, 0, 0) 3%, 
            rgba(255, 0, 0, 0.9) 5%,
            rgba(255, 0, 0, 0.8) 10%,
            rgba(255, 0, 0, 0.7) 15%,
            rgba(255, 0, 0, 0.6) 20%,
            rgba(255, 0, 0, 0.5) 25%,
            rgba(255, 0, 0, 0.4) 30%,
            rgba(255, 0, 0, 0.3) 35%,
            rgba(255, 0, 0, 0.2) 40%,
            rgba(255, 0, 0, 0.1) 50%,
            rgba(255, 0, 0, 0) 60%
        );
    }

    #SEARCH-RESULTS-SECTION .card.null .card-overlay {
        background-image: linear-gradient(
            to top, 
            white 3%, 
            rgba(255, 255, 255, 0.9) 5%,
            rgba(255, 255, 255, 0.8) 10%,
            rgba(255, 255, 255, 0.7) 15%,
            rgba(255, 255, 255, 0.6) 20%,
            rgba(255, 255, 255, 0.5) 25%,
            rgba(255, 255, 255, 0.4) 30%,
            rgba(255, 255, 255, 0.3) 35%,
            rgba(255, 255, 255, 0.2) 40%,
            rgba(255, 255, 255, 0.1) 50%,
            rgba(255, 255, 255, 0) 60%
        );
    }

/* Card Containers */
.faction-section {
    width: 95vw;
    box-sizing: border-box;
    margin: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    border-radius: 0.5rem;
}

section > h3 {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 1rem 0 1.5rem 0
}

#REMNANTS-SECTION { 
    border: clamp(0.2rem, 0.3vw, 1rem) #10d3ff dashed; 
    background-color: rgb(31, 64, 71); 
    box-shadow: 0px 0px 29px 7px #10d3ff;
}

#SYNDICATE-SECTION {
    border: clamp(0.2rem, 0.3vw, 1rem) red dashed; 
    background-color: rgb(89, 46, 46); 
    box-shadow: 0px 0px 29px 7px red;
}

#NULL-SECTION {
    border: clamp(0.2rem, 0.3vw, 1rem) white dashed; 
    background-color: rgb(50, 50, 50); 
    box-shadow: 0px 0px 29px 7px white;
}

.card-cont {
    width: 95%;
    box-sizing: border-box;
    justify-self: center;
    justify-content: center;
    height: fit-content;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 33vw;
    perspective: 1000px;
    justify-self: center;
    transition: all 0.3s ease-in-out;
    flex: 0 2 425px; 
}
.card:hover {
    z-index: 100;
    transform: scale(1.10);
}

.role-card {
    width: 100%;
    aspect-ratio: sqrt(2)/1;
}

.card-contents {
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
}

.card .rolefront {
    backface-visibility: hidden;
}
.card .roleback {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.card:hover .card-contents {
    transform: rotateY(180deg);
    box-shadow: 0px 5px 19px 4px #000000;
}

#NULL-SECTION .card-overlay {
    all: unset;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to top, 
        white 3%, 
        rgba(255, 255, 255, 0.9) 5%,
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0.7) 15%,
        rgba(255, 255, 255, 0.6) 20%,
        rgba(255, 255, 255, 0.5) 25%,
        rgba(255, 255, 255, 0.4) 30%,
        rgba(255, 255, 255, 0.3) 35%,
        rgba(255, 255, 255, 0.2) 40%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0) 60%
    );
}

#REMNANTS-SECTION .card-overlay {
    all: unset;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to top, 
        rgb(12, 170, 255) 3%, 
        rgba(12, 170, 255, 0.9) 5%,
        rgba(12, 170, 255, 0.8) 10%,
        rgba(12, 170, 255, 0.7) 15%,
        rgba(12, 170, 255, 0.6) 20%,
        rgba(12, 170, 255, 0.5) 25%,
        rgba(12, 170, 255, 0.4) 30%,
        rgba(12, 170, 255, 0.3) 35%,
        rgba(12, 170, 255, 0.2) 40%,
        rgba(12, 170, 255, 0.1) 50%,
        rgba(12, 170, 255, 0) 60%
    );
}

#SYNDICATE-SECTION .card-overlay {
    all: unset;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to top, 
        rgb(255, 0, 0) 3%, 
        rgba(255, 0, 0, 0.9) 5%,
        rgba(255, 0, 0, 0.8) 10%,
        rgba(255, 0, 0, 0.7) 15%,
        rgba(255, 0, 0, 0.6) 20%,
        rgba(255, 0, 0, 0.5) 25%,
        rgba(255, 0, 0, 0.4) 30%,
        rgba(255, 0, 0, 0.3) 35%,
        rgba(255, 0, 0, 0.2) 40%,
        rgba(255, 0, 0, 0.1) 50%,
        rgba(255, 0, 0, 0) 60%
    );
}

.card h4, 
.card p {
    margin: 0;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-overlay h4 {
    font-size: 2rem
}