body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0px 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

main {
  display: flex;
}

main p,
main h1 {
  color: white;
}

.landing {
  min-height: 100vh;
  background: url("images/landing-temporary.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}